<m-navbar></m-navbar>

<main class="container">
  <div class="d-flex justify-content-between">
    <h2>Accounts</h2>
    <h2>{{homepage.total}}</h2>
  </div>

  <m-account-row [account]="account" *ngFor="let account of homepage.accounts"
                 (onDelete)="openConfirm($event)"
                 (onEdit)="openForm($event)">
  </m-account-row>

  <m-account-form (onCreate)="addAccount($event)"></m-account-form>

  <m-confirm-delete element="account" (onConfirm)="removeAccount($event)"></m-confirm-delete>

</main>

<footer>
  <button class="footer-button btn btn-success" (click)="openForm()">New account</button>
</footer>
