<m-navbar></m-navbar>

<main class="container">
  <div class="d-flex align-items-baseline">
    <h2 class="f-8">Accounts</h2>
    <h2 class="f-1">{{accounts.total}}</h2>
    <h6 class="f-1 text-right">{{accounts.totalDifference}}</h6>
  </div>

  <m-account-row [account]="account" *ngFor="let account of accounts.accounts"
                 (onDelete)="openConfirm($event)"
                 (onEdit)="openForm($event)">
  </m-account-row>

  <m-account-form (onCreate)="addAccount($event)"></m-account-form>

  <m-confirm-delete element="account" (onConfirm)="removeAccount($event)"></m-confirm-delete>

</main>

<footer>
  <button class="footer-button btn btn-success" (click)="openForm()">New account</button>
</footer>
