<div *ngIf="visible" class="my-modal">
  <div class="d-flex align-items-center">
    <h2 class="f-1">{{getTitle()}}</h2>
    <button id="btn-close-modal" class="btn btn-outline-dark" (click)="close()">X</button>
  </div>
  <form [formGroup]="accountForm" (submit)="submit()">
    <input type="hidden">
    <div class="form-group">
      <label>name</label>
      <input formControlName="name" class="form-control" placeholder="name" autofocus>
      <small *ngIf="accountForm.get('name').errors?.required" class="text-danger d-block mt-2">
        account name is required!
      </small>
    </div>
    <div>
      <button [disabled]="accountForm.invalid" type="submit" class="btn-lg btn-block btn-success d-block m-auto">
        {{getTitle()}}
      </button>
    </div>
  </form>
</div>
