<div class="template-row align-items-center clr-green">
  <div (click)="enter()" class="row-main">
    <span class="name f-8">{{account.name}}</span>
    <span class="balance f-1">{{account.balanceDifference}}</span>
    <span class="balance f-1">{{account.balance}}</span>
  </div>
  <aside class="row-aside">
    <button class="btn btn-primary mr-3" (click)="edit()"><i class="fa fa-pencil-square-o"></i></button>
    <button class="btn btn-danger mr-3" (click)="delete()"><i class="fa fa-trash-o"></i></button>
  </aside>
</div>
